* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #eef1f4;
}

/* Hide */
.hidden {
    display: none !important;
}

/* Username Page */
#username-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.username-page-container {
    background: white;
    padding: 35px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.form-control {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #4c84ff;
    color: white;
    cursor: pointer;
}

.primary {
    width: auto;
    padding: 12px 20px;
}

/* Chat Page */
.chat-container {
    width: 95%;
    max-width: 800px;
    margin: 20px auto;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

.chat-header {
    padding: 15px;
    background: #4c84ff;
    color: #fff;
}

.connecting {
    text-align: center;
    padding: 10px;
    color: #777;
}

#messageArea {
    height: 60vh;
    overflow-y: auto;
    padding: 20px;
    list-style: none;
}

#messageArea li {
    background: #e9eef6;
    padding: 10px 12px;
    border-radius: 6px;
    margin-bottom: 12px;
    max-width: 70%;
}

#messageArea li.self {
    margin-left: auto;
    background: #cbd9ff;
}

#message {
    flex: 1;
}


#messageArea li.event-message {
    text-align: center;
    background: #e6ffe6;     /* light green background */
    color: #1a7f1a;           /* green text */
    font-weight: bold;
    border-left: 4px solid #1a7f1a;
}


#messageArea li.leave-message {
    text-align: center;
    background: #fff0e6;
    color: #d45500;
    font-weight: bold;
    border-left: 4px solid #d45500;
}

.btn.danger {
    background: #d63a3a;
    color: white;
}
.btn.danger:hover {
    background: #bb2f2f;
}

.input-group {
    display: flex;
    gap: 10px;
    align-items: center;
    border-top: 1px solid #eee;
}

/* Make message input expand */
.input-group .form-control {
    flex: 1;
}

/* Prevent buttons from stretching */
.input-group button {
    flex: 0;
    white-space: nowrap;
    padding: 10px 18px;
}

#messageArea li.time-message {
    text-align: center;
    background: #f0f0f0;
    color: #555;
    font-style: italic;
    border-left: 4px solid #888;
}